DB_HOST=localhost
DB_PORT=5432
DB_USER=student
DB_PASSWORD=student_secure_password
DB_NAME=wp_labs
PORT=4200
APP_ENV=development

JWT_ACCESS_SECRET=super_secret_access_key_change_in_prod
JWT_REFRESH_SECRET=super_secret_refresh_key_change_in_prod
JWT_ACCESS_EXPIRATION_MIN=15
JWT_REFRESH_EXPIRATION_DAYS=7

YANDEX_CLIENT_ID=your_yandex_client_id
YANDEX_CLIENT_SECRET=your_yandex_client_secret
YANDEX_REDIRECT_URI=http://localhost:4200/auth/oauth/yandex/callback